if SHIELD_HOLD_IT_LEFT

config ZMK_KEYBOARD_NAME
    default "Hold-IT!"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_HOLD_IT_LEFT || SHIELD_HOLD_IT_RIGHT

config ZMK_SPLIT
    default y

endif
